@font-face {
    font-family: ShrekFont;
    src: url(/Shrek.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: ShrekFont, Arial, Helvetica, sans-serif;
}

.container {
    width: 80vw;
    max-width: 400px;
    height: 340px;
    background-color: green;
    /* Gradient
    background-image: linear-gradient(to bottom right, #668300, #B0C400);*/
    background-color: #C4D300;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    padding: 20px;
    font-size: 28px;
    border-radius: 30px;
}

.textfield {
    border-radius: 10px;
    height: 25px;
    border: 3px solid black;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
}

.loginbutton {
    width: 50%;
    border-radius: 18.5px;
    height: 37px;
    border: 1px solid black;
    margin: 10px auto;
    background-color: #668300;
    font-size: 25px;
}

.backbutton {
    border: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: auto;
}